numpy==1.23.1
Pillow==9.2.0
attrdict==2.0.0
tensorboard==2.9.1
--extra-index-url https://download.pytorch.org/whl/cu113
torch
torchvision
torchaudio
tqdm==4.64.0
jupyter==1.0.0
matplotlib==3.5.2
pickleshare==0.7.5
networkx==2.8.5
scipy==1.8.1
